<!--該当する顧客の有無判定-->
<% if customers.exists?(customers) %>
  <!--該当する顧客がいるとき-->
  <% if current_customer %>
    <!--顧客用表示内容-->
    <% customers.each do |customer| %>
      <div class="card my-3">
        <%= render 'public/customers/info', customer: customer %>
      </div>
    <% end %>
  <% else %>
    <!--管理者用表示内容-->
    <% customers.each do |customer| %>
      <div class="card my-3">
        <%= render 'admin/customers/info', customer: customer %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <!--該当する顧客がいないとき-->
  <h3 class="m-5">ユーザはいません</h3>
<% end %>
