<!--ヘッダー-->
<%= render 'layouts/header' %>

<div>
  <h2>Customer info</h2>
  <%= render 'info', customer: @customer %>
</div>
<div>
  <h2>posts</h2>
  <%= render 'public/posts/index', posts: @posts %>
</div>
    
    