<!--ヘッダー-->
<%= render 'layouts/header' %>

<div>
  <%= render 'info', customer: @customer %>
</div>
<div>
  <h3 class="text-center text-secondary mt-2">
    <%= @customer.name %> さんの投稿一覧
    <i class="fas fa-mail-bulk"></i>
  </h3>
  <%= render 'public/posts/index', posts: @posts %>
</div>

