<!--ヘッダー-->
<%= render 'layouts/header' %>

<!--ページタイトル-->
<h2 class="text-center text-secondary mt-2">
  みんなの投稿
  <i class="fas fa-mail-bulk"></i>
</h2>

<!--投稿一覧-->
<%= render 'index', posts: @posts %>

<!--該当する投稿の有無判定-->
<% unless @posts.exists?(@posts) %>
  <!--該当する投稿がないとき-->
  <h3 class="m-5">投稿はありません</h3>
<% end %>