<!--ヘッダー-->
<header class="sticky-top bg-white" style="border-bottom: 5px solid #d8d8d8;">
  <div style="height: 80px">
    <!--空白-->
  </div>
</header>

<div class="row">
  <div class="col-md-7 text-center shadow-lg rounded mx-auto px-0 my-5">
    <h5 class="text-center text-dark bg-light py-4">ユーザーログイン</h5>
    <div class="form-body p-4">
      
      <div class="mx-auto text-center mb-4">
        <p>管理者用メールアドレスと<br>パスワードを入力してください。</p>
      </div>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-envelope"></i></span>
          </div>
          
          <%= f.email_field :email, autofocus: true, placeholder: "email", class:"form-control" %>
        </div>
        
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
          </div>
          
          <%= f.password_field :password, placeholder: "password", class:"form-control" %>
        </div>
        
        <!--remember meチェックボックス-->
        <%# if devise_mapping.rememberable? %>
          <!--<div class="input-group my-2">-->
            <%#= f.check_box :remember_me %>
            <%#= f.label :remember_me %>
          <!--</div>-->
        <%# end %>
        
        <div class="actions">
          <%= f.submit "ログイン", class:"btn btn-dark mt-4 px-5" %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
