<!--ヘッダー-->
<%= render 'layouts/header' %>

<!--ページタイトル-->
<h2 class="text-center text-secondary mt-2">
  フォロー一覧
  <i class="fas fa-users"></i>
</h2>

<!--フォロー一覧-->
<%= render 'public/customers/customer-list', customers: @customers %>

