<!--ヘッダー-->
<%= render 'layouts/header' %>

<!--検索結果表示-->
<!--検索カテゴリ判定-->
<% if @range == "ユーザ名" %>
  <!--ユーザ名での検索結果ページ-->
  <!--ページタイトル-->
  <h2 class="text-center text-secondary mt-2">
    該当ユーザ一覧
    <i class="fas fa-users"></i>
  </h2>
  <!--ユーザ名での検索結果リスト -->
  <%= render 'public/customers/customer-list', customers: @customers %>
<% else %>
  <!--ゲームタイトルでの検索結果ページ -->
  <!--ページタイトル-->
  <h2 class="text-center text-secondary mt-2">
    該当する投稿
    <i class="fas fa-mail-bulk"></i>
  </h2>
  <!--ゲームタイトルでの検索結果リスト -->
  <%= render 'public/posts/index', posts: @posts %>
  
  <!--該当する投稿の有無判定-->
  <% unless @posts.exists?(@posts) %>
    <!--該当する投稿がないとき-->
    <h3 class="m-5">投稿はありません</h3>
  <% end %>
<% end %>
