<!--ヘッダー-->
<header class="sticky-top bg-white" style="border-bottom: 5px solid #d8d8d8">
  <div style="height: 80px">
    <!--空白-->
  </div>
</header>

<!--検索結果-->
<% if @range == "ユーザ名" %>
  <!--ユーザの検索結果 -->
  <%= render 'public/customers/customer-list', customers: @customers %>
<% else %>
  <!--投稿の検索結果 -->
  <%= render 'public/posts/index', posts: @posts %>
<% end %>
