<!--ヘッダー-->
<%= render 'layouts/header' %>

<!--ページタイトル-->
<h2 class="text-center text-secondary mt-2">
  投稿一覧
  <i class="fas fa-mail-bulk"></i>
</h2>

<!--投稿一覧-->
<%= render 'public/posts/index', posts: @posts %>

