<table>
  <% post.post_comments.each do |post_comment| %>
  <tr>
    <td>
      <%= link_to(customer_path(post_comment.customer_id)) do %>
        <%#= image_tag post_comment.customer.get_profile_image, size:"100x100" %><br>
        <%= post_comment.customer.name %>
      <% end %>
    </td>
    <td><%= post_comment.post_comment %></td>
    
      <td><%= link_to 'Destroy', post_post_comment_path(post_comment.post, post_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
    
  </tr>
  <% end %>
</table>