<header class="sticky-top bg-white" style="border-bottom: 5px solid #d8d8d8">
  
  <% if current_customer %>
  <!--customerログイン時のヘッダー-->
  <div>
    <ul class="list-group list-group-horizontal">
      <!--投稿用ドロップダウン-->
      <li class="list-group-item flex-fill">
        <div class="dropdown py-2 d-flex justify-content-start">
          <button class="btn btn-outline-secondary dropdown-toggle" 
                  role="button"
                  id="postDropdown"
                  data-toggle="dropdown"
                  aria-expanded="false">
            <i class="fas fa-pen"></i>
          </button>
          
          <!--投稿フォーム-->
          <div class="dropdown-menu dropdown-menu-left" 
                style="width: 400px"
                aria-labelledby="postDropdown">
            <h2>New post</h2>
            <div class="m-3">
              <%= render 'public/posts/form', post: @new_post %>
            </div>
          </div>
        </div>
      </li>
      
      <!--検索用ドロップダウン-->
      <li class="list-group-item flex-fill">
        <div class="dropdown py-2 d-flex justify-content-start">
          <button class="btn btn-outline-secondary dropdown-toggle" 
                  role="button"
                  id="searchDropdown"
                  data-toggle="dropdown"
                  aria-expanded="false">
            <i class="fas fa-search"></i>
          </button>
          
          <!--検索フォーム-->
          <div class="dropdown-menu dropdown-center" 
                style="width: 500px"
                aria-labelledby="searchDropdown">
            <h2>Search</h2>
            <div class="m-3">
              <%= render 'public/searches/search' %>
            </div>
          </div>
        </div>
      </li>
      
      
      <!--プロフィール用ドロップダウン-->
      <li class="list-group-item flex-fill">
        <div class="dropdown py-2 d-flex justify-content-end">
          <button class="btn btn-outline-secondary dropdown-toggle" 
                  role="button"
                  id="profileDropdown"
                  data-toggle="dropdown"
                  aria-expanded="false">
            <i class="fas fa-user"></i>
          </button>
          
          <!--プロフィール-->
          <div class="dropdown-menu dropdown-menu-right"
                style="width: 400px"
                aria-labelledby="profileDropdown">
            <h2 class="text-center text-secondary mt-2">プロフィール</h2>
            <div class="m-3">
              <%= render 'public/customers/small-info', customer: current_customer %>
            </div>
          </div>
        </div>
      </li>
      
    </ul>
  </div>
  
  <% else %>
  <!--管理者ログイン時、ログアウト時のヘッダー-->
  <div style="height: 80px">
    <!--空白-->
  </div>
  <% end %>
  
</header>